<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form| %>

<%= form.label :email %>
<div class="mb-3">
    <%= form.text_field :email, class: "form-conrol", placeholder: "Steve@apple.com" %>
</div>

<div class="mb-3">
    <%= form.submit "Reset Password", class: "btn btn-primary"%>
</div>

<% end %>